{
  "presets": [
    [
      "env",
      {
        "exclude": [
          "transform-es2015-classes"
        ],
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread"
  ]
}
